@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body{
  background: #e1ecf2;
}
/* Barra lateral  */

.wrapper{
  margin: 10px;
}


.wrapper .top_navbar {
  width: calc(100% - 20px);
  height: 60px;
  display: flex;
  position: fixed;
  top: 10px;
  z-index: 100; /* Adicione um z-index para garantir que fique acima do banner */
}

.wrapper .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #e92020;
  padding: 15px 17px;
  border-top-left-radius: 20px;
  cursor: pointer;
}

.wrapper .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #e0cccc;
  margin: 5px 0;
  border-radius: 5px;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 70px);
  height: 100%;
  background: #fff;
  border-top-right-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper .top_navbar .top_menu .logo{
  color: #e92020;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul{
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a{
  display: block;
  margin: 0 10px;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border: 1px solid  #e92020;
  border-radius: 50%;
  color: #e92020;
}

.wrapper .top_navbar .top_menu ul li a:hover{
  background: #e92020;
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}

.wrapper .sidebar{
  position: fixed;
  top: 70px;
  left: 10px;
  background: #c91e1e;
  width: 200px;
  height: calc(100% - 80px);
  border-bottom-left-radius: 20px;
  transition: all 0.3s ease;
}

.wrapper .sidebar ul li a{
    display: block;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 1px;
    color: #ffffff;
    white-space: nowrap;
}

.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  background: #e79494;
  display: none;
}

.wrapper .sidebar ul li a span.icon{
  margin-right: 10px;
  display: inline-block;
}

.wrapper .sidebar ul li a span.title{
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #e92020;
  color: #fff;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: block;
}


.wrapper .main_container {
  width: calc(100% - 220px); /* Ajuste a largura para compensar a largura do sidebar */
  margin-top: 100px; /* Ajuste a margem superior para dar espaço suficiente para o cabeçalho */
  margin-left: 220px; /* Adicione a margem esquerda para compensar a largura do sidebar */
  padding: 15px;
  transition: all 0.3s ease;
}
.wrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper.collapse .sidebar{
  width: 70px;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center; 
}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;
}



/*---------------------------------------------------------------------------------------daqui pra baixo está sem o navbar*/
.wrapper.collapse .main_container{
  width: (100% - 70px);
  margin-left: 70px;
  
}

.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 250px;
}

.main_container h2 {
  margin-left: 50px; /* Adicione a margem esquerda desejada */
}

.banner {
  position: relative;
  width: 80%;
  height: 720px;
  overflow: hidden;
  border-radius: 20px;
  margin: 0 auto; /* Isso centralizará o banner horizontalmente */
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.saiba-mais-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* Estilo de fonte */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

/* Restante do seu CSS */

.dashboard-container {
  display: flex;
  justify-content: space-between; /* Espaçamento igual entre os dashboards */
  padding: 20px; /* Espaçamento interno */
}

.dashboard {
  font-family: 'Montserrat', sans-serif; /* Aplicando a fonte Montserrat */
  flex: 1; /* Crescem igualmente */
  max-width: calc(33.333% - 20px); /* Define a largura máxima de cada dashboard */
  height: 165px; /* Altura do dashboard */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adicionando uma sombra suave */
}

.box-title1 {
  background-color: #3fc41e;
  padding: 15px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-title2 {
  background-color: #dd3f8e;
  padding: 15px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-title3 {
  background-color: #208fda;
  padding: 15px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box-quantity {
  background-color: #ffffff;
  padding: 15px;
  padding-top: 30px;
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 100%;
}

.dashboard h2 {
  margin-top: 0;
  font-size: 18px;
  color: #ffffff;
}

.dashboard p {
  font-size: 24px;
  margin-top: 10px;
  color: #000000;
}



/* Estilo da seção de suporte */
#suporte {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  color: #333;
}

p {
  color: #666;
  margin-bottom: 30px;
}

form {
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

/* Estilo da caixa de mensagem */
textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Escolhendo uma fonte moderna */
  font-size: 16px;
  color: #333;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Mantendo a mesma fonte para consistência */
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}



.links-suporte {
  border-top: 1px solid #ccc;
  padding-top: 30px;
}

h3 {
  color: #333;
  margin-bottom: 15px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #0056b3;
}

/**/